MONGODB_URI=mongodb+srv://user:password@cluster.example.mongodb.net/
MONGODB_DB_NAME=tga
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d
PORT=3001
CORS_ORIGIN=http://localhost:3000
COOKIE_DOMAIN=localhost
NODE_ENV=development
SWAGGER_ENABLED=true
